<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" [(ngModel)]="includeShipped"/>
    Display Shipped Orders
  </label>
</div>
<table class="table table-sm">
  <thead>
  <tr><th>Name</th><th>Zip</th><th colspan="2">Cart</th><th></th></tr>
  </thead>
  <tbody>
  <tr *ngIf="getOrders().length == 0">
    <td colspan="5">There are no orders</td>
  </tr>
  <ng-template ngFor let-o [ngForOf]="getOrders()">
    <tr>
      <td>{{o.name}}</td>
      <td>{{o.zip}}</td>
      <th>Book</th><th>Quantity</th>
      <td>
        <button *ngIf="!o.shipped" class="btn btn-warning" (click)="markShipped(o)">
          Ship
        </button>
        <button class="btn btn-danger" (click)="delete(o._id)">
          Delete
        </button>
      </td>
    </tr>
    <tr *ngFor="let book of o.books">
      <td colspan="2"></td>
      <td>{{book.bookTitle}}</td>
      <td>{{book.quantity}}</td>
    </tr>
  </ng-template>
  </tbody>
</table>
